    /* Conteneur qui contient le les recettes au total avec le titre */

    #elt{
        overflow: auto;
    }

    #recette-content, .contain,#ingredients-content{
        overflow: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #recette-content a{
        color: white;
    }

    #descrip-plat{
        padding: 17px;
        width: 180px;
    }

    /* conteneur pour chaque recette avec leurs ingredients et tags */
    .ingredients, .tags{
        max-height: 100%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .recettes{
        max-height: 100%;
        max-width:80%;
        justify-content: center;
        margin : 20px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
    }


    /* conteneur de la description et de l'image */
    .img {
        max-height: 300px;
        max-width: 280px;
        object-fit: contain;
    }

    .img-ing{
        height:100px;
        width: 100px;
    }


    .legend{
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .recettes-tittle{
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #return-welcom{
        margin-top: -450px;
        color: white;
        text-transform: capitalize;
        text-decoration: none;

    }

    #return-welcom a{
        color: white;
    }

    .ingredient-name, .tags-name{
        color: white;
        text-transform: capitalize;
        font-size: 1em;
        background: none;
        border-color: aqua;
    }

    /* -------------------CSS FORMULAIRE DE CREATION  -------------------*/

    #recette-form{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #info{
        overflow: auto;
    }

    #info input{
        max-width: 200px;
        background: transparent;
        color: aqua;
    }

    .border{
        border:solid 5px red;
    }

    .none{
        display: none;
    }

    .form-input{
        margin: 10px;
    }

    #create{
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .add-btn{
        background: transparent;
        color: aqua;
        border-radius: 5px;
    }

    #ingredient-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }

    #tag-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin-left: 10px;
        padding-bottom: 90px;
    }
    #all{

        height: 100%;
        width: 100%;
        overflow:initial;

    }
    #display-recipe{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-content: center;
        width: 70%;
        height: 70%;
        padding: 5%;
        border:none;
        background: rgba(0, 0, 0, 0.7);
    }

    #display-recipe p{
        width: 100%;
        font-size: 13px;
    }



    #col{
        height: 100%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    #row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    #form, #form-ing{
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #back, #back-ing{
        padding: 10%;
        max-width: 100%;
        max-height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

/* partie du formualire de update ingredient */

    #form-ing1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .divs{
        overflow: hidden;
    }

    #elt{
        overflow: auto;
    }

    .contain {
       overflow: auto;
    }

    .contain::-webkit-scrollbar{
        display: none;
    }


    #back-ing1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    #img-ing{
        max-width: 90px;
        object-fit: contain;
        max-height: 90px;
        border-radius: 8px;
    }